/*
  Story-engine with Animate and Create.js
  Copyright © 2024 devjck
  Ce logiciel est distribué sous la licence GNU GPL v3. Pour plus d'informations, consultez le fichier COPYING à la racine de ce projet.
 */

/*
MAIN STYLE
*/
* {
  margin: 0;
}
body {
  font-family: "Raleway";
  position: static;
  background-color : #202020;
  color: #bdc3c7;
  letter-spacing: 0.05em;
}
#animation_container{
  top: 0px;
}
canvas {
  alpha: 0;
}

#launch_sr, #launch_classique {
  margin-top: 0.5em;
  margin-right: 0.5em;
}


/*
SR SPECIFIC
*/
#module_sr {
  color: #ecf0f1;
}

#module_sr #sr-title {
  font-family: "Raleway ExtraBold";
  letter-spacing: 0.15em;
  padding-bottom: 0.8em;
  background-color: #000;
}

#module_sr .btn-primary {
  background-color: #000;
  border-color: #000;
  margin-top: 2em;
}

#module_sr .btn-primary:focus, #module_sr .btn-primary:hover {
  background-color: #c0392b;
  border-color: #c0392b;
}

h2, h3, h4, h5, h6 {
  font-family: "Raleway ExtraBold";
}

em {
    display: block;
    font-size: medium;
    text-align: right;
    margin-top: -2em;
    margin-bottom: 2em;
}

#spacer {
  height: 1em;
}

#sr-quiz-question {
  margin-bottom: 1.2em;
  border-bottom: 0;
  color: white;
}

#sr-quiz {
  margin-top: 1em;
  font-size: 2em;
}

#sr-text {
  font-size: 2em;
}

#sr-image, #sr-btnext, #sr-btprev, #sr-quiz, #sr-text {
  display: none;
}

label{
  display: block;
}

.btn{
  max-width: 100%;
  white-space: inherit;
}

.btn > img {
  height: 2em;
    margin-left: 1em;
}

/*
BOOTSTRAP OVERRIDES
*/
.bootstrap-dialog.type-primary .modal-header {
  background-color: #383838;
  color: #ecf0f1;
}

.modal-footer {
  text-align: right;
  border-top: 0px;
  margin-top: -20px;
  margin-left: 25px;
}

.modal-content {
  background-color: #fff;
  color: #383838;
}

.btn-primary, .btn-primary:focus, .btn-primary:active {
  background-color: #222;
  border-color: #222;
}

.btn:hover, .btn:active:focus, .btn-primary:hover, .btn-primary:focus {
  background-color: #c0392b;
  border-color: #c0392b;
  color: #ecf0f1;
}

.img-responsive {
    margin: 0 auto;
}

.jumbotron{
  background-color: black;
  color: white;
  margin-top: 2em;
}

#titre, #launch2 {
  font-family: "Raleway ExtraBold";

}

.jumbotron h2{
  margin-top: -0.2em;
  font-size: 40px;
}

.jumbotron p, .jumbotron .btn{
  font-family: "Raleway";
}

/*Radio box*/

fieldset {
  padding-left: 1.2em;
}

label {
  position: relative;
  cursor: pointer;
  font-weight: normal;
  line-height: 1em;
  margin-bottom: 0.5em;
}

input[type="checkbox"], input[type="radio"]{
  position: absolute;
  right: 9000px;
  margin-left: -20px;
}

input[type="radio"] + .label-text:before{
  content: "\f10c";
  font-family: "FontAwesome";
  speak: none;
  line-height: 1.5;
  -webkit-font-smoothing:antialiased;
  width: 1em;
  display: inline-block;
  margin-right: 0.5em;
  margin-left: -1.5em
}

#sr-quiz form {
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

input[type="radio"]:checked + .label-text:before{
  content: "\f192";
  color: #c0392b;
  animation: effect 250ms ease-in;
}

input[type="radio"]:disabled + .label-text{
  color: #aaa;
}

input[type="radio"]:disabled + .label-text:before{
  content: "\f111";
  color: #ccc;
}

@keyframes effect{
  0%{transform: scale(0);}
  25%{transform: scale(1.3);}
  75%{transform: scale(1.4);}
  100%{transform: scale(1);}
}

/* Question Block Focus */

.question-block {
  position: relative; 
  padding: 16px 20px 16px 32px;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: border-color .18s, box-shadow .18s;
}

.question-block:focus-within {
  border-color: #c0392b;
  box-shadow: 0 0 0 4px rgba(192,57,43,0.14);
}

legend#sr-quiz-question {
  margin-left: -1.8em;
  font-size: 0.8em;
  font-family: 'Raleway ExtraBold';
}

/* Bouton personnalisé lecture SR */

#sr-player-controls {
  text-align: center;
  margin-top: 1.5em;
  display: none;
}

.btn-group-custom {
  scale: 1.5;
}

.btn-custom {
  background-color: black;
  color: white;
}
.btn-custom:hover, .btn-custom:focus-within {
  background-color: #c0392b;
  color: white;
}

.btn svg {
  width: 18px;
  height: 18px;
  fill: currentColor;
  vertical-align: middle;
}

.icon-hidden {
  display: none;
}

/* SR radio buttons fix */
#module_sr label {
  font-family: "Raleway";
  font-size: 21px;
  margin-top: -1.5em;
}

/* image SR */
.img-sr {
  border-radius: 25px;
  border: 12px solid black;
}

/* Subtitles SR */
#sr-subtitles {
  margin: 0;
}
#sr-subtitle-text {
  text-align: center;
  margin-top: 0.5em;
  font-size: 2em;
}

/* Progress bar SR */
.progress {
  background-color: #333;
}
.progress-bar {
  background-color:#606060;
}

/* SR Blockquote */
blockquote {
  font-size: 0.8em;
}

/* modal form */

.row-m-t{
  margin-top : 20px
}

.in-modal{
  width: auto;
}

.inputGroupContainer {
  margin-right: -1.5em;
}

.form-control:focus {
    border-color: #555;
    outline: 0;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
}

input.form-control {
    color: #000;
    font-weight: 700;
}

label.control-label {
    margin-top: 0.5em;
    font-size: 15px;
}


/*
VIDEO OVERLAY
*/
#video {
  background-color: #FFF;
  position: absolute;
  width: 250px;
  height: 250px;
  display: none;
}


/*
LOADER
*/


#loader > #loader_text {
    font-family: "Quicksand Medium", sans-serif;
    text-align: center;
    font-size: 1.5em;
    width: 500px;
    margin-left: -175px;
  color: #e0e0e0;
}

/*
  LANGS BUTTONS
*/
#select_lang{
    display: flex;
    position: absolute;
    top: calc(50% - 6em);
    left: calc(50% - 12em);
}
.lang_button{
  width: 8em;
  height: 8em;
  margin: 2em;
  background-image: url("../images/langs/fr.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
  border-radius: 2em;
  cursor: pointer;
  border: 5px solid rgba(0,0,0,0);
}
.lang_button:hover{
  border: 5px solid white;
}

div#select_lang_text {
    position: absolute;
    width: 50em;
    top: -15em;
    left: -5em;
}
#select_lang_text > p {
    font-size: 1.5em;
}

/*
FONTS
*/
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Raleway ExtraBold";
  src: url("../fonts/Raleway/Raleway-ExtraBold.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Raleway ExtraBold";
  src: url("../fonts/Raleway/Raleway-ExtraBoldItalic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Quicksand Medium";
  src: url("../fonts/Quicksand/Quicksand-Medium.ttf") format("truetype");
  font-style: normal;
}
